*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  background-image: url('./image.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;
}

.wrapper {
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.main {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.home,
.guest {
  padding: 3rem;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 2px 3px #fff;
}

.guest__title,
.home__title {
  font-size: 3rem;
}

.guest__display,
.home__display {
  background-color: #000;
  padding: 3rem 1rem;
  font-size: 2rem;
  border-radius: 10px;
}

.btn {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
}

.btn:hover {
  cursor: pointer;
}

.home__btns,
.guest__btns {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.new-game:hover {
  background-color: green;
}
